body {

    display: grid;
    place-items: center;

    height: 100vh;

}

.App {

    height: auto;
    width: 450px;
  
    border: 1px solid black;
  
  }

  .item {

    border-bottom: 1px solid black;

  }

  .item p {

    padding: 2px;

  }

  .pagination{
    display: flex;

    list-style: none;

    padding: 10px;
  }

  .pagination li {
    margin: 1px;
  }

  .pagination li a {
    padding: 5px;

    text-decoration: none;

    color: #000;

    border: 1px solid black;
  }